<h1>#SignUpNOW</h1>
<br>
<%= form_tag url_for(action: 'create'), method: "post" do %>

<div class="container">
      <p>#AllAboutYOU</p>
      <br /> <br />

      <%= label_tag 'Nom' %>
      <%= text_field_tag 'nom'," " %>
      <br /> <br />

      <%= label_tag 'Prenom' %>
      <%= text_field_tag 'prenom'," " %>
      <br /> <br />

      <%= label_tag 'Description' %>
      <%= text_field_tag 'description'," " %>
      <br /> <br />

      <%= label_tag 'Email' %>
      <%= text_field_tag 'email'," " %>
      <br /> <br />

      <%= label_tag 'Age' %>
      <%= text_field_tag 'age'," " %>
      <br /> <br />

      <%= label_tag 'City' %>
      <%= text_field_tag 'city'," " %>
      <br /> <br />

      <%= label_tag 'Zip_Code' %>
      <%= text_field_tag 'zip_code'," " %>
      <br /> <br />
</div>
<div class="container">
      <p>#AllAboutYOURGOSSIP</p>
      <br /> <br />

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title'," "%>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content'," " %>
      <br /> <br />

      <%= submit_tag "Done" %>

    <% end %>
      
<% end %>
      

</div>
